<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${title}">Title</title>
</head>
<body>
<p data-th-text="${title}">Title</p>
<p th:text="${title}">test</p>
<table>
    <thead>
    <tr>
        <td>Link</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bill: ${bills}">
        <td th:text="bill ${bill.id}"/>
        <td th:text="${bill.name}"/>
    </tr>
    </tbody>
</table>

</body>
</html>